header {
  .container {
    padding: 28px 0 36px;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .brend-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        img {
          width: 1.625rem;
          height: 1.625rem;
        }
        a {
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 600;
          line-height: 112.518%;
          color: $button-color;
        }
      }
      .links {
        display: none;
      }
      .bars {
        i {
          font-size: 24px;
          color: $text-color;
        }
      }
    }
    .hero-section {
      color: $text-color;
      h1 {
        text-align: center;
        font-size: 2.37rem;
        font-weight: 600;
        line-height: 124.011%;
        margin: 64px 0 17px;
      }
      p {
        font-size: 1rem;
        text-align: center;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 33px;
      }
      button {
        display: flex;
        padding: 16px 57px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 67px;
        background: $button-color;
        color: $button-text-color;
        text-align: center;
        font-size: 1.33rem;
        font-weight: 600;
        line-height: 112.518%;
        border: none;
        margin: 0 auto;
      }
      .lg {
        border-radius: 16px;
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        flex-shrink: 0;
        align-self: stretch;
      }
      .leptop,
      .tablet {
        display: none;
      }
    }
  }
}
@media (min-width: 1025px) {
  header {
    .container {
      max-width: 884px;
      margin: 0 auto;

      nav {
        .links {
          display: block;
          display: flex;
          gap: 40px;
          a {
            color: $text-color;
            font-size: 1rem;
            font-weight: 400;
            line-height: 150%;
          }
        }
        .bars {
          display: none;
        }
      }
      .hero-section {
        h1 {
          color: $h1-color;
          font-size: 4.08rem;
          font-style: normal;
          font-weight: 600;
          line-height: 125.497%;
        }
        button {
          padding: 16px 80px;
        }
        .tablet {
          display: block;
        }
        .hero-img {
          display: flex;
          flex-direction: row;
          gap: 28px;
          padding-top: 56px;
          align-items: center;
          justify-content: center;
          img {
            max-width: 48%;
          }
        }
        .leptop,
        .lg {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  header {
    .container {
      max-width: 1300px;
      margin: 0 auto;

      .hero-section {
        padding: 80px 0 108px;
        .leptop {
          display: block;
        }
        .hero-img {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 35px;
        }
        .lg,
        .tablet {
          display: none;
        }
      }
    }
  }
}
